[Unit]
Description=Create NetworkManager connection for eth1 to be dhcp supplied addresses
BindsTo=NetworkManager.service
Wants=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/nm-online -s
ExecStart=/usr/sbin/usb-ethernet-setup.sh @USB_ETHERNET_SETUP@

[Install]
WantedBy=multi-user.target

