[Unit]
Description=Frame buffer for default HDMI frame buffer

[Service]
User=root
Type=oneshot
RemainAfterExit=True

# Shut off gettys from tty1 and serial channel
ExecStartPre=-/bin/systemctl disable getty@tty1.service
ExecStartPre=-/bin/systemctl stop getty@tty1.service
ExecStartPre=-/bin/systemctl disable serial-getty@ttyS0.service
ExecStartPre=-/bin/systemctl stop serial-getty@ttyS0.service

# Wait for framebuffer up and generate /run/framebuffer
ExecStart=/usr/sbin/find_framebuffer

[Install]
WantedBy=sysinit.target

